/* .react-multi-carousel-list{
  position: unset !important;
  margin-top: 50px;
}

.react-multi-carousel-track {
  position: unset !important;
  margin: unset !important;
  margin-top: 250px;
  border: 1px solid yellow;
}

.react-multi-carousel-item{
  position: unset !important;
  margin-top: 50px;
}
.react-multiple-carousel__arrow--right {
  background-color:  unset !important;
  position: absolute;
  top: 50px;
  right: 85%;
}

.react-multiple-carousel__arrow--left {
  background-color:  unset !important;
  position: absolute;
  top: 50px;
  right: inherit;

} */